<label for="rank">Звання:</label>
<input type="text" id="rank" name="rank" required>

<label for="name">Ім'я:</label>
<input type="text" id="name" name="name" required>

<label for="lastname">Прізвище:</label>
<input type="text" id="lastname" name="lastname" required>

<label for="exercise3">Вправа №3</label>
<select id="exercise3" name="exercise3" required>
    <%- include('./selectGrades');%>
</select>


<label for="exercise14">Вправа №14</label>
<select id="exercise14" name="exercise14" required>
    <%- include('./selectGrades');%>
</select>

<label for="exercise20">Вправа №20</label>
<select id="exercise20" name="exercise20" required>
    <%- include('./selectGrades');%>
</select>

<label for="excercise25">Вправа №25</label>
<select id="exercise25" name="exercise25" required>
    <%- include('./selectGrades');%>
</select>